# 默认忽略所有文件与目录
/*

# 放行 .gitignore 与 agent规范
!.gitignore
!AGENTS.md

# 放行用户主程序与 SysConfig 核心文件
!empty.c
!empty.syscfg
!ti_msp_dl_config.c
!ti_msp_dl_config.h

# 放行 assets 资源与转换工具
!assets/
!assets/**
assets/ppt

# 放行 BSP 模块所有源码及头文件
!BSP/
!BSP/**

# 放行 Keil 核心工程文件（排除编译生成的 Objects、Listings、日志文件及个人配置）
!keil/
keil/*
!keil/*.uvprojx
!keil/*.sct
!keil/*.s
